@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Light.woff2) format('woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Regular.woff2) format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Medium.woff2) format('woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-SemiBold.woff2) format('woff2');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Bold.woff2) format('woff2');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.woff2) format('woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.woff2) format('woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.woff2) format('woff2');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.woff2) format('woff2');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'PP_Hatton';
    src: url(../../fonts/PPHatton-UltralightItalic.woff2) format('woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: 'PP_Hatton';
    src: url(../fonts/PPHatton-MediumItalic.woff2) format('woff2');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'PP_Pangaia';
    src: url(../fonts/PPPangaia-MediumItalic.woff2) format('woff2');
    // font-weight: 700;
  }
  