.sc-intro {
  height: 100vh;
  position: relative;
  // background: #f9f8ed;
  overflow: hidden;
  // transform: translateY(50%);
  z-index: 99;
  border: 0.3rem solid $point-color;
  box-sizing: border-box;

  @include tablet {
    border: 0.5rem solid $point-color;
  }

  @include mobile {
    border: 0.7rem solid $point-color;
  }

  .intro-img {
    top: 16%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(20%);
    max-width: 492px;
    /* 원본 캔버스 너비에 맞게 최대 너비 설정 */
    // max-height: 838px; /* 너비에 비례하여 높이 자동 조절 */
    margin: 0 auto;

    /* 가운데 정렬 */
    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    #img_sequence {
      position: absolute;
      top: 0;
      top: 15%;
      left: 48%;
      transform: translateX(-50%);
      width: auto;
      height: 100%;
      width: 100%;
      max-width: 492px;
    }

    #screen {
      width: 100%;
      height: auto;
      display: block;

      @include tablet {}
    }
  }

  .intro-tag {
    position: absolute;
    bottom: 22%;
    right: 3%;
    width: 30%;
    /* text-align: right; */
    /* font-size: 26px; */
    color: $point-color;
    font-family: "Roboto", sans-serif;
    font-weight: 600;

    @include desktop {
      font-size: clamp(0.7em, 2.6vw, 1.4rem);
      width: auto;
      right: 7%;
    }

    @include tablet {
      bottom: 35%;
      // bottom: 31%;
      font-size: clamp(1.7rem, 3.5vw, 1.8rem);
      right: 2.3%;
    }

    @include mobile {
      // font-size: clamp(1.7rem, 3.5vw, 1.8rem);
      font-size: 7.5vw;
      bottom: 13%;
      left: 3.2%;

      font-size: clamp(3.5rem, 4.5vw, 3.6rem);
      bottom: 17%;
    }

    .ic-arrow {
      display: block;
      width: 1.3vw;
      height: 1.3vw;
      margin-bottom: 3.7vh;
      font-weight: 600;

      @include desktop {
        width: 1.7vw;
        height: 1.7vw;
      }

      @include tablet {
        width: 2.3vw;
        height: 2.3vw;
      }

      @include mobile {
        width: 3.3vw;
        height: 3.3vw;
        margin-bottom: 2.7vh;
      }

      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    span {
      display: block;
    }
  }

  .tit-txt {
    width: 30%;
    /* text-align: right; */
    font-size: 26px;
    position: absolute;
    top: 40%;
    left: 3%;
    // color: $point-color;
    color: #af6005;
    font-family: "Roboto", sans-serif;

    @include desktop {
      font-size: clamp(0.7em, 2vw, 1.4rem);
      left: 4.2%;
      width: 32%;
    }

    @include tablet {
      top: auto;
      bottom: 7%;
      font-size: clamp(1.2rem, 2.5vw, 1.5rem);
      width: 40%;
      left: 3.2%;
    }

    @include mobile {
      font-size: 4.2vw;
      bottom: 2%;
      width: 100%;
      z-index: -1;
      line-height: 1.3;

      font-size: clamp(1.8rem, 2.8vw, 1.9rem);
    }

    .tit {
      display: block;
      font-weight: 500;
      font-size: 1rem;

      @include desktop {
        font-size: clamp(0.7em, 2.2vw, 1.4rem);
      }

      @include tablet {
        font-size: clamp(0.7em, 2.8vw, 1.4rem);
      }

      @include mobile {
        font-size: 5.3vw;
        line-height: 1.2;
        margin-bottom: 1rem;

        font-size: clamp(2.4rem, 4vw, 1.7rem);
        margin-bottom: 0.5rem;
      }
    }
  }
}

.sc-about {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $main-color;

  .work-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 0.3rem;

    @include desktop2 {
      gap: 0.6rem;
    }

    .work-tit {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.25;
      overflow: hidden;
      font-family: $En-font;
      letter-spacing: -0.5px;

      @include desktop2 {
        font-size: 1.8rem;
      }

      @include mobile {
        font-size: 1.9rem;
      }
    }

    .work-tit2 {
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: -0.5px;
      line-height: 1.25;
      overflow: hidden;

      @include desktop2 {
        font-size: 1.7rem;
      }

      @include mobile {
        font-size: 1.8rem;
      }
    }

    .work-desc {
      letter-spacing: -0.7px;
      font-weight: 500;
      /* line-height: 1.5; */
      margin-top: 0.5rem;
      color: #7e7e7e;
      font-size: 1.1rem;

      @include desktop2 {
        font-size: 1.5rem;
        margin-top: 1rem;
        line-height: 1.7;
      }

      @include mobile {
        font-size: 1.7rem;
        margin-top: 0.8rem;
      }
    }
  }


}

.sc-project {
  background: $main-color;

  @include tablet {
    overflow: hidden;
  }

  .common-inner {
    height: 400vh;
    display: flex;
    flex-direction: column;

    @include tablet {
      height: 100%;
    }

    @include mobile {
      overflow: hidden;
    }
  }

  .project-area {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .title-list {
      overflow: hidden;
      height: 20%;

      @include desktop2 {
        height: 17%;
      }

      .title-item {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        line-height: 0.975;
        width: 100%;
        height: 100%;

        @include desktop2 {
          padding: 1.5rem 0px;
        }
      }
    }

    .project-wrap {
      position: relative;
      overflow: visible;
      flex: 1;
      height: 100%;

      .project-item {
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(0px) brightness(1);


        .con-img-box {
          display: block;
          filter: brightness(0.65);
          width: 100%;
          height: 100vh;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90vh;
            object-fit: cover;
          }

        }

        &:nth-child(1) {
          z-index: 5;
        }

        &:nth-child(2) {
          z-index: 4;
        }

        &:nth-child(3) {
          z-index: 3;
        }

        .txt-desc {
          position: absolute;
          left: 0.8rem;
          bottom: 1.2rem;
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            font-size: 0.6rem;
            font-weight: 400;
            padding: 12px 15px;
            border-radius: 1000px;
            background: rgb(255 255 255 / 76%);
            box-sizing: border-box;
            letter-spacing: -0.5px;

            @include desktop2 {
              font-size: 0.9rem;
            }
          }
        }

        .project-desc {
          position: absolute;
          top: 1rem;
          right: 0.8rem;
          color: #fff;
          font-size: 0.65rem;

          @include desktop2 {
            font-size: 1rem;
          }
        }

        .link-code {
          position: absolute;
          bottom: 1.2rem;
          right: 0.8rem;
          color: #fff;

          @include desktop2 {
            font-size: 1.3rem;
          }

          @include mobile {
            font-weight: 700;
          }
        }

        .video-box {
          display: block;
          filter: brightness(0.65);
          width: 100%;
          height: 100vh;

          video {
            width: 100%;
            height: 100%;
            height: 90vh;
            object-fit: cover;
            background-position: 50%;
            background-size: cover;
          }

        }
      }
    }

    @include tablet {
      display: none;
    }
  }

  .m-project-area {
    display: none;

    @include tablet {
      display: block;
    }

    .mList {
      margin-top: 8rem;

      .mItem {

        position: relative;
        margin-bottom: 8rem;

        @include mobile {
          margin-bottom: 13rem;

          // border: 3px solid;
          // background: #27282e;
          // padding: 12px 12px 20px 12px;
          // padding: 20px;
          // box-sizing: border-box;
          // border-radius: 3.2vw;
        }

        .p-title {
          font-size: 3.7rem;
          line-height: 1.4;
        }

        .txt-desc {
          display: flex;
          align-items: center;
          gap: 6px;

          margin-bottom: 11px;

          @include mobile {
            gap: 4px;
          }

          span {
            border: 1px solid #9d9d9d;
            font-size: 1rem;
            font-weight: 300;
            padding: 4px 9px;
            border-radius: 1000px;
            box-sizing: border-box;
            letter-spacing: -0.5px;

            @include mobile {
              font-size: 1.2rem;
              padding: 4px 7px;
            }
          }
        }

        .project-desc {
          font-size: 1.3rem;
          text-align: right;
          margin-top: 11px;
        }

        .link-code {
          font-size: 1.6rem;
          font-weight: 700;
          position: absolute;
          bottom: -2px;
          left: 0;
          display: inline-block;
          letter-spacing: -0.5px;

        }

        .item-box {
          overflow: hidden;

          width: 100%;
          height: 45vh;

          .item {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          @include tablet {
            height: 60vh;
          }

          @include mobile {
            height: 63vh;
            border-radius: 3.2vw;
          }
        }

      }
    }
  }
}

.p-title {
  position: relative;
  font-size: 3.2rem;
  font-family: 'PP_Hatton';
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.1rem;
  color: $main-black;

  @include desktop2 {
    font-size: 4rem;
  }

  .title-num {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    vertical-align: top;
  }
}



.sub-project {
  background: $main-color;
  // margin-top: 6rem;
  padding-top: 6rem;

  .project-area2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    @include mobile {
      gap: 9rem;
    }

    .project-list {
      position: relative;

      .project-item {
        position: relative;
        display: block;
        transition: filter 0.2s;
        height: 17rem;

        @include tablet {
          height: 25rem;
        }

        @include mobile {
          height: 40rem;
          border-radius: 3.2vw;
        }

        .item-box {
          height: 17rem;

          @include tablet {
            height: 25rem;
          }

          @include mobile {
            height: 40rem;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: 50%;
            background-size: cover;
          }
        }

        .txt-desc {
          position: absolute;
          padding: 20px;
          color: #fff;
          font-size: 0.5rem;
          z-index: 9;

          @include mobile {
            padding: 20px 15px;
          }
        }

        .txt-desc-top {
          top: 0;
          width: 100%;
          background: linear-gradient(#060606, #ffffff00);

          @include desktop2 {
            font-size: 0.8rem;
          }

          @include tablet {
            font-size: 1.2rem;
          }

          @include mobile {
            font-size: 1.8rem;
          }
        }

        .txt-desc-bott {
          bottom: 0;
          display: flex;
          gap: 7px;
          letter-spacing: -0.5px;

          @include desktop2 {
            gap: 5px;
          }

          @include mobile {
            padding-right: 0;
          }

          span {
            font-size: 0.4rem;
            border-radius: 1.6rem;
            font-weight: 400;
            padding: 12px 14px;
            backdrop-filter: blur(20px);
            background-color: rgb(89 89 89 / 75%);

            @include desktop2 {
              font-size: 0.6rem;
              padding: 10px 11px;
            }

            @include tablet {
              font-size: 0.9rem;
            }

            @include mobile {
              font-size: 1.4rem;
              padding: 6px 7px;
            }
          }
        }

        .txt-ani {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          gap: 50px;
          transition: opacity 0.3s ease;
          opacity: 0;

          .txt-ani-box {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 50px;
            font-weight: 500;
            font-size: 7vw;
            color: #fff;
          }
        }

        &:hover .txt-ani {
          opacity: 1;
        }

        &:hover .txt-ani .txt-ani-box {
          animation: rolling 150s linear infinite;
        }

        &:hover .item-box {
          filter: brightness(0.65);
        }
      }

      .ic_velog {
        position: absolute;
        display: block;
        right: 20px;
        bottom: 20px;
        fill: #e0e0e0;
        transition: fill 0.2s;

        @include desktop2 {
          bottom: 25px;
        }

        @include mobile {
          bottom: 21px;
        }

        svg {
          width: 35px;
          height: 35px;

          @include desktop2 {
            width: 24px;
            height: 24px;
          }
        }

        &:hover {
          fill: #20c393;
        }
      }

      @keyframes rolling {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-200%);
        }
      }
    }

    .project-list-large {
      grid-column: span 4;

      // @include desktop2 {
      //   max-height: 399.5px;
      // }
      // @include tablet{
      //   max-height: none;
      // }
    }

    .project-list-small {
      grid-column: span 2;
    }
  }
}

.sc-ing {
  padding-top: 5rem;
  overflow-x: clip;
  background: $main-color;

  @include tablet {
    margin-top: 10rem;
  }

  // @include mobile {
  //   margin-bottom: 20rem;
  // }

  .content-wrap {
    position: relative;
    z-index: 9;
    padding-bottom: 10vh;
    background: $main-color;

    &>.desc {
      font-size: 0.5rem;
      padding: 0.5rem 2vw;
      color: #545758;
      text-align: right;

      @include desktop2 {
        font-size: 0.75rem;
      }

      @include tablet {
        font-size: 0.9rem;
      }

      @include mobile {
        font-size: 1.4rem;
        padding: 1rem 4vw;
      }
    }

    .content-list {
      border-top: 1px solid rgb(95 94 94 / 56%);

      .content-item {
        // border-bottom: 1px solid #dedede;
        border-bottom: 1px solid rgba(95, 94, 94, 0.56);

        a {
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 1.5rem 1rem 1.5rem 2.5rem;
          transition: color .45s cubic-bezier(.215, .61, .355, 1);

          @include mobile {
            align-items: flex-start;
            flex-direction: column;
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            transform: translateY(105%);
            transition: transform .45s cubic-bezier(.165, .84, .44, 1);
            // z-index: 0;
            background: #161616;
          }

          &:hover {
            color: #fff;

            &::before {
              transform: translate(0);
            }

            .title {
              transform: translate(1rem);
            }

            .arrow {
              filter: invert(100%);
              transform: translate(-1rem);
            }
          }

          .title {
            width: 9rem;
            min-width: 9rem;
            font-size: clamp(1.2rem, 1.6vw, 2rem);
            position: relative;
            font-weight: bold;
            transition: all 0.6s cubic-bezier(.15, .9, .34, .95);
            flex-shrink: 0;

            @include desktop2 {
              width: 30%;
            }

            @include tablet {
              font-size: clamp(1.5rem, 1.5vw, 1.7rem);
              width: 9.5rem;
            }

            @include mobile {
              font-size: 2.5rem;
              width: 100%;
            }

            i {
              font-size: 0.5rem;
              position: absolute;
              top: 0.5rem;
              left: -1.35rem;
              letter-spacing: .04em;
              font-weight: 500;
              line-height: 1.2;
              flex-shrink: 0;

              @include desktop2 {
                font-size: 0.6rem;
                left: -1.5rem;
              }

              @include tablet {
                font-size: 0.8rem;
                left: -2rem;
              }

              @include mobile {
                font-size: 1.2rem;
                left: -3rem;
              }
            }
          }

          .arrow {
            margin-left: auto;
            transition: all 0.6s cubic-bezier(.15, .9, .34, .95);
            width: 30px;
            height: 30px;

            @include tablet {
              width: 22px;
              height: 22px;
            }

            @include mobile {
              width: clamp(2.2rem, 2.5rem, 3rem);
              height: clamp(2.2rem, 2.5rem, 3rem);
              position: absolute;
              right: 1rem;
              bottom: 1.5rem;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

  }

  .text-box {
    @include tablet {
      padding-right: 1rem;
    }

    .desc {
      margin-top: 2vh;
      line-height: 1.2;
      font-size: 0.65rem;
      font-weight: 500;
      position: relative;
      word-break: keep-all;

      @include desktop2 {
        margin-top: 1vh;
        font-size: 0.82rem;
      }

      @include tablet {
        font-size: 1rem;
      }

      @include mobile {
        margin-top: 0.2vh;
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }

    .hash {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: .8em;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.5rem;
      margin-top: 0.2rem;
      opacity: 0.5;

      @include desktop2 {
        font-size: 0.7rem;
      }

      @include tablet {
        font-size: 0.9rem;
      }

      @include mobile {
        font-size: 1.4rem;
      }
    }
  }

  .pan-wrap {
    width: 100%;
    position: relative;
    height: 0;
    z-index: 3;

    .pan-box {

      .pan {
        // box-shadow: 0px 18px 32px 12px #1c1d20;
        // box-shadow: 0px 18px 20px 12px #474747;
        box-shadow: 0px 11px 20px 13px rgba(2, 2, 2, 0.85);
        background: $main-color;

        @include mobile {
          height: 500%;
        }
      }
    }
  }
}