//_typo.scss에서 작성 된 것을 선언

$preten-light : 'Pretendard-Light', sans-serif;
$En-font:'Roboto', sans-serif;

$main-color : #ecece4;
// $main-black : #484036;
$main-brown : #484036;
$main-black : #212529;

