//_typo.scss에서 작성 된 것을 선언

$preten-light : 'Pretendard-Light', sans-serif;
$En-font:'Roboto', sans-serif;

$point-color : #d97706;
$point-color2 : #e9830d;
$main-color : #FFFDF8;
$main-black : #101820;
$main-Fcolor : #212529;